body {
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;

    margin: 30px;
    
}

h1 {
    text-align: right;
    color: hotpink;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 5px dotted purple;


}

h2 {
    font-size: 1.5em;
    font-style: italic;

}

.job-title {
    color: #a13737;
    font-weight: bold;
    font-style: oblique;
}

a:link, a:visited {
    color: #fb6542;
}

a:hover {
    color: green;
    text-decoration: none;
}

ul{
    background-color: #ded3d3;
    border: 5px solid purple;
    padding: 30px 30px 30px 50px;
    margin: 10px;
    

}
p{
    margin: 10px 20px; 
